{%extends  'English_App/basic.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css"  href="{% static '/css/test.css' %}">
    <title>Display each post</title>
</head>
<body id="bodycoursedetail">
   
    <article id="coursediv2">
        <h2>Course name : {{eachcourse.courseName}} </h2>
        <br>
     
    
    <h4>{{eachcourse.courseBody|safe}}</h4>
</article>

   
</body>
</html>
{% endblock %}