{% load static %}

<div class="menu-bar">
    <ul>
        <li> <a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="{% url 'courseDetail' %}"><span class="glyphicon glyphicon-education"></span>Courses</a></li>
        {% if user.is_authenticated and user.is_staff and user.is_superuser%}
        <li> <a href="{% url 'AddCourse' %}">Add Course</a></li>
        {% endif %}
       
        <li> <a href="{% url 'upload_video' %}"><span class="glyphicon glyphicon-play-circle"></span>Videos</a></li>
        
       
        <li><a href="{% url 'addfile' %}"><span class="glyphicon glyphicon-file"></span>Files</a></li>
       
      
        {% if user.is_authenticated  and user.is_superuser%}
        <li><a href="{% url 'displayPostForms' %}"><i class="glyphicon glyphicon-envelope">messages</i></a></li>
        {% endif %}
        {% if user.is_authenticated  and user.is_superuser%}
        <li><a href="{% url 'displaytable' %}"><i class="glyphicon glyphicon-user"></i>users</a></li>
        {% endif %}
        {% if user.is_authenticated or user.is_staff or user.is_superuser%}
        <li><a href="{% url 'postUsers' %}">Add article</a></li>
        {% endif %}
        {% if user.is_authenticated or user.is_staff or user.is_superuser%}
        <li><a href="{% url 'displayUsersArticaleList' %}"><span class="glyphicon glyphicon-list-alt"></span>Articles list</a></li>
        {% endif %}
        <!--
        {% if user.is_authenticated and user.is_staff and user.is_superuser%}
        <li><a href="{% url 'AddHomeworks' %}">Add<br> homework</a></li>
        {% endif %}
        {% if user.is_authenticated or user.is_staff or user.is_superuser%}
        <li><a href="{% url 'Homeworklist' %}"> homework</a></li>
        {% endif %}
        -->
        {% if not user.is_superuser%}
        <li><a href="{% url 'contactPost' %}">Contact us</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>Hello,{{user.first_name}}</li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Log in</a></li>
        {% endif %}
   
   
   
    </ul> 
   </div> 
