{% load widget_tweaks %}  
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link  rel="stylesheet" type="text/css"  href="{% static '/css/test.css' %}">
</head>
<body id="bodyresetpassword">
    



<form action="" method="post">
   
    {% csrf_token %}
  

  <div class="container" id="resetpasswordcontainer">
    
    <h2>Reset Password</h2>
   <br>
    <label  ><b>Email</b></label>
    
    {% render_field form.email class="form-control is-valid" placeholder="Email" type="text" %} 

   
        
    <button type="submit">Submit</button>
    <label>
      
    </label>

    
  </div>

  
</form>

</body>
</html>
{% endblock %}